
Html {
  color: #F5F5DC;
}

body {
background-color: #BDB76B;
}

h1 {
Text-align: center;
border: solid grey;
Font-weight: bold; 
Font-family: "Times;
}

ul { 
fontSize: 1.5px; 
Font-family: "Times;
Font-weight: bold; 
}

li { 
fontSize: 1.5px; 
Font-family: "Times;
Font-weight: bold; 
}

h2 {
Text-align: center;
border: solid black;
Font-family: "Times;
}

p {
Size: 25px;
Font-family: "Times;
}

a {
Color: purple;
}

Img {
Width: 200px;
height: 400px;
}
