html {
  background-color: #F5F5DC;
}

body {
  margin: auto;
  background-color: #F0FFFF;
  width: 600px;
  background-position: center;
}

nav {
  background-color: #A9A9A9;
}

img {
  margin: auto;
  float: center;
}
