html {
  background-color: #5F9EA0;
}

body {
  margin: auto;
  background-color: #F0FFFF;
  width: 600px;
  background-position: center;
}

nav {
  background-color: #A9A9A9;
  text-decoration: none;
}

Ul {
  display: flex;
  list-style: none;
}

li {
  border: 2px #DCDCDC;
  padding: .5em;
}

a {
  display: block;
  text-decoration: none; 
  text-align: center
}

a.current{
  background: #5F9EA0;
}
  
a:hover {
  color: #000000;
}

h2 {
  text-align: center;
}

img {
  length: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

p {
  margin: 30px;
}
