html {
  background-color: #5F9EA0;
}

body {
  margin: auto;
  background-color: #F0FFFF;
  width: 600px;
  background-position: center;
}

nav {
  margin: auto;
  display: flex;
  background-color: #A9A9A9;
}
.current {
  background-color: #CED0CE;
  border-radius: 10px 10px 0 0;
}

li {
  border: 2px #DCDCDC;
  padding: .5em;
}

a:hover {
  color: #F8F8FF;
}
